
body{
    margin: 0;
    background-color: #15151b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* here's the header */
#main-header{
    font-size: 300px;
    color: #b20011;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 2200px;
    margin-bottom: 250px;
}

/* arrow down animation */

.scrolldown {
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
  }
  
  .scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px white;
  }
  
  @keyframes scrolldown-anim {
    0% {
      opacity: 0;
      height: 6px;
    }
  
    40% {
      opacity: 1;
      height: 10px;
    }
  
    80% {
      transform: translate(0, 20px);
      height: 10px;
      opacity: 0;
    }
  
    100% {
      height: 3px;
      opacity: 0;
    }
  }
  
  .chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
  }
  
  .chevrondown:nth-child(odd) {
    animation: pulse54012 500ms ease infinite alternate;
  }
  
  .chevrondown:nth-child(even) {
    animation: pulse54012 500ms ease infinite alternate 250ms;
  }
  
  @keyframes pulse54012 {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 0.5;
    }
  }

  /* second on scroll */
  .second{
    margin-top: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #first2{
    color: goldenrod;
    font-size: 50px;
    text-align: center;
  }

  #second2{
    color: goldenrod;
    font-size: 50px;
    text-align: center;
  }

  #most{
    margin-top: 120px;
  }

  #most img{
    height: 400px;
  }

  #most p{
    color: white;
    font-size: 25px;
    padding: 0px;
  }

  .second #most table th{
    padding: 15px;
  }

  #img-first{
    border-radius: 35px;
    border: 1px solid rgb(0, 0, 0);
  }

  #desc{
    text-align: left; 
    line-height: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .icon {
    max-width: 90px; /* Adjust the size as needed */
    max-height: 80px;
    margin-right: 8px; /* Adds some space between the icons */
    vertical-align: middle; /* Aligns the icons with the text */
  }

  .third p{
    margin-top: 200px;
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  
  .mainthird{
  }

  .left {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
}

.left img {
    max-width: 250px;
    border: 1px solid black;
    border-radius: 10px;
}

#yuji-desc {
    max-width: 30%;
    margin-bottom: 250px;
    font-size: 23px;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#yuji-desc b{
  color: #ff031c;
  font-weight: normal;
}

.right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.right-title {
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 25px; /* Font size for the title */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.right-box {
  height: 350px; /* Fixed height */
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll; /* Enable vertical scrolling */
  padding-right: 10px; /* Adjust space for content */
  
  /* Hide scrollbar in modern browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.right-box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.box {
  padding: 20px;
  background-color: #202020;
  color: white;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.innerbox{
  background-color: #505050; /* Different color for top box */

}